@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Regular.ttf');
}

* {
  font-family: 'RobotoMono', 'monospace';
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #1c92d2;
  background: -webkit-linear-gradient(to right, #1c92d2, #f2fcfe);
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
}